@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,500&display=swap');

/* Common  Shared styles */
body {
    /* sov text golo gogoole thkay delete kora hoyca  */
    font-family: 'Open Sans', sans-serif;
}

.boutton {
    /* hire me batton tkaka orang color and radius kora hoyca */
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;


}

/* nav related Styles */
/* mray thkay anchor golo ka alda kora jono  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.marycolor {
    /* ata holo step 1 mary colo kaj korsa */
    color: #181818;/ font-size: 45px;
    font-weight: 800px;
}

.rcolor {
    /* Mary color modda  step 2 ja r color chloo tar color korsa  */
    color: #FD6E0A;
}

nav>ul {
    /* step 3 mary colo tar pora jaa chloe odr ka alda kora kora hoyca */
    display: flex;
    align-items: center;
}

nav li {
    /*  step4list ja fota golo chloo ta bad doa hoayca and fak fak kora jono margin use kora hoyca */
    list-style: none;
    margin-right: 50px;
}

nav a {
    /* step5  anchor tag ja ja taext golo chloo tar text color change korsa  */
    text-decoration: none;
    color: #474747;
}

/* header betora kaj korvo akhon  */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left; 

}

/* sobi pesona jens agula */
/* sobier jono */
.banner {
    padding: 30px 30px 00px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-welcome {
    font-size: 45px;
    color: #181818;
    margin-bottom: 0;

}

.banner- title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;

}

.banner-para {
    max-width: 500px;
    font-size: 18px;
    font-style: normal;

}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */
.about {
    padding: 130px;
    background: #FFF8F3;
    margin: 150px 0;
}

.section-para {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;


}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;


}

.about-info-neca-box {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;

}

/* ata holo what i do jono soro */
#What i {
    padding: 30px 150px;

}

/* skill contaner kaj soro  */
.skill-contaner {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume Secton styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-contaner{
    display: flex;
    gap:50;
}
.resume-item-title{
 color:   #757575;
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;
    
}
.resume-item-desription,.resume-instute{
    color:#757575;
}
.resume-contaner hr{
    margin:30px ;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    gap:100;
    background: #FFF8F3;
    padding: 130px 200px;
}
.footer-column{
    width: 50%;
}
.contact input[type='text'], .contact input[type='email'],textarea{
      display: block;
      margin-bottom: 25px;
      padding:18px 35px;
      color: #757575;
      border-radius: 5px;
      background: #FFF;
      border: 0;
      width: 100%;

}
.social-links a{
    margin-right: 25px;

}

